[submodule "khietbt.github.io"]
	branch = master
	path = khietbt.github.io
	url = git@github.com:khietbt/khietbt.github.io.git
[submodule "vendors/keycloak"]
	branch = master
	path = vendors/keycloak
	url = git@github.com:khietbt/sesame-keycloak-service.git
[submodule "sesame-services/sesame-config-service"]
	path = sesame-services/sesame-config-service
	url = git@github.com:khietbt/sesame-config-service.git
	branch = master
